<%= form_with model: post do |f| %>
  <%= render 'layouts/error_messages', model: post %>

  <div class="mb-2">
    <%= f.label :genre_id %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--選択してください--" }, { class: "form-control"} %>
  </div>

  <div class="mb-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-2">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="my-3">
    <%= f.submit '投稿する', class: "btn btn-primary btn-block" %>
  </div>
<% end %>