

<div class="col-md-8 offset-md-1">
      <h2>投稿の詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= @user.name %>
            </td>
            <td>
              <%= link_to post_path(@post) do %>
                <%= @post.title %>
              <% end %>
            </td>
            <td>
              <%= @post.body %>
            </td>
            <% if @post.user == current_user %>
              <td>
                <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-success"  %>
              </td>
              <td>
                <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  
</div>

