<!DOCTYPE html>
<html>
  <head>
    <title>Admin | Uchirepo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/4ebf33f6f9.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/admin_header' %>
    </header>   
    
    <div class="container mt-4">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <footer>
      <div class="container mt-5">
        <div class="d-flex justify-content-center">
          <p>CopyRight うちれぽ</p>
        </div>
      </div>
    </footer>
  </body>
</html>
